@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --clr-third: #909090;
  --clr-primary: #1d1d1f;
  --clr-primary-hover: #0f0f10;
  --clr-secondary: #9aff78;
  --clr-secondary-hover: #65c146;
  --font-primary: 'Montserrat', sans-serif;

  font-family: var(--font-primary);
}

body {
  margin: 0;

}