.confession {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 200px;
    max-width: 600px;
    width: clamp(300px, 50vw, 600px);
    border-radius: 1rem;
    border: 3px solid var(--clr-secondary);
    padding: 1rem;
    color: white;
}

.clickable {
    cursor: pointer;
}

.confession h1, .confession a{
    margin: 0;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.confession h2 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--clr-third);
    margin: 0;
}

