.home {
    background-color: var(--clr-primary);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
}

.home h1 {
    text-align: center;
}

.home h2 {
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    color: var(--clr-third);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}