.nav {
    background-color:  var(--clr-secondary);
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    color: white;
    border-bottom: 3px solid white;
}

.nav a{
    color: white;
}