.nav {
    background-color: var(--clr-primary);
    font-weight: 700;
    display: flex;
    border-bottom: 3px solid var(--clr-secondary);
    justify-content: space-around;
    padding: 1rem;
    color: white;
}

.nav a{
    color: white;
}

.nav .name {
    text-decoration: none;
}